<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>添加</title>
    <link rel="stylesheet" href="/xxx/css/login_css.css">
</head>

<body>
<form action="/b/b1" method="post">
    <div class="container">
        <div class="tit">记录外借情况</div>
        <input type="text" name="borrowman" placeholder="借书人">
        <input type="text" name="borrowdate" placeholder="借书时间">
        <input type="text" name="borrowBook" placeholder="借书名称">
        <button type="submit">提交</button>
    </div>
</form>
<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>

</html>