<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>外借</title>
    <link rel="stylesheet" href="/xxx/css/login_css.css">
</head>

<body>
<form >
    <div class="container">
        <div class="tit">外借</div>
        <a href="/b/b1">登记外借</a></br>
        <a href="/b/b2">打印外借情况</a>
    </div>
</form>
<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>

</html>