<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

  <title>按照类别查询</title>
  <link rel="stylesheet" href="/xxx/css/login_css.css">
</head>

<body>
<form action="/c/findBypub" method="post">
  <div class="container">
    <div class="tit">根据出版社查询图书</div>
            <input type="text" name="publisher" placeholder="输入出版社查询">
    <button type="submit">查询</button>
  </div>
</form>
<div class="square">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="circle">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
</body>

</html>