<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>查询</title>
    <link rel="stylesheet" href="/xxx/css/login_css.css">
</head>

<body>
<form action="/c/find" method="post">
    <div class="container">
        <div class="tit">查询图书</div>
        <input type="text" name="bookname" placeholder="输入书名查询">
        <button type="submit">查询</button>
        <span>其他查询方式<a href="/c/findByauthor">按作者    </a><a href="/c/findBytype">按类别    </a><a href="/c/findBypub">按出版社</a></span>
    </div>
</form>
<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>

</html>