<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>主页</title>
    <link rel="stylesheet" href="/xxx/css/login_css.css">
</head>

<body>
    <div class="container">
        <div class="tit">简易图书馆</div>
        <a>请选择操作:</a>
        <form action="/add" method="get">
        <button type="submit">添加图书</button>
        </form>
        <form action="/c/find" method="get">
            <button type="submit">查询图书</button>
        </form>
        <form action="/mf" method="get">
            <button type="submit">修改信息</button>
        </form>
        <form action="/b/borrow" method="get">
            <button type="submit">外借图书</button>
        </form>
        <a href="/t">统计信息</a>
    </div>
<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>

</html>