<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>修改</title>
    <link rel="stylesheet" href="/xxx/css/login_css.css">
</head>

<body>
<form action="/mf" method="put">
    <div class="container">
        <div class="tit">修改：</div>
        <input type="text" name="bookname" placeholder="书名">
        <input type="text" name="type" placeholder="类别">
        <input type="text" name="author" placeholder="作者">
        <input type="text" name="publisher" placeholder="出版社">
        <input type="text" name="price" placeholder="价格">
        <input type="text" name="shuliang" placeholder="册数">
        <button type="submit">提交</button>
    </div>
</form>
<div class="square">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="circle">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>

</html>